{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },

  "plugins": ["react", "react-hooks"],

  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
